[data-theme="high-contrast"] {
  --erb-color-accent-bg: #ffff00;
  --erb-color-accent-bg-hover: #e6e600;
  --erb-color-neutral-bg: #00ffff;
  --erb-color-bg-canvas-canvas: #000000;
  --erb-color-bg-canvas-surface: #000000;
  --erb-color-fg-default: #ffffff;
  --erb-color-fg-muted: #cccccc;
  --erb-color-border-default: #ffffff;
  --erb-color-danger-bg: #ff0000;
  --erb-color-success-bg: #00ff00;
  --erb-badge-border-radius: 0px;
}
