[data-theme="vibrant"] {
  --erb-color-accent-bg: #ff007f;
  --erb-color-accent-bg-hover: #e60073;
  --erb-color-neutral-bg: #7f00ff;
  --erb-color-bg-canvas-canvas: #ffffff;
  --erb-color-bg-canvas-surface: #f9f0ff;
  --erb-color-fg-default: #1a1a1a;
  --erb-color-fg-muted: #595959;
  --erb-color-border-default: #ffccf2;
  --erb-color-danger-bg: #ff3333;
  --erb-color-success-bg: #00cc66;
  --erb-badge-border-radius: 16px;
}
