@layer erb.components {
  .erb-aspect-ratio {
    position: relative;
    width: 100%;
    padding-block-end: calc(100% / var(--erb-gallery-item-aspect-ratio, 1));
  }

  .erb-aspect-ratio > * {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
