.erb-button-group {
  display: inline-flex;
}

.erb-button-group[data-orientation="horizontal"] {
  flex-direction: row;
}
.erb-button-group[data-orientation="horizontal"] > .erb-button:not(:first-child),
.erb-button-group[data-orientation="horizontal"] > .erb-icon-button:not(:first-child) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  margin-inline-start: -1px;
}
.erb-button-group[data-orientation="horizontal"] > .erb-button:not(:last-child),
.erb-button-group[data-orientation="horizontal"] > .erb-icon-button:not(:last-child) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.erb-button-group[data-orientation="vertical"] {
  flex-direction: column;
}
.erb-button-group[data-orientation="vertical"] > .erb-button:not(:first-child),
.erb-button-group[data-orientation="vertical"] > .erb-icon-button:not(:first-child) {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  margin-block-start: -1px;
}
.erb-button-group[data-orientation="vertical"] > .erb-button:not(:last-child),
.erb-button-group[data-orientation="vertical"] > .erb-icon-button:not(:last-child) {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

