
.erb-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  background-color: var(--erb-skip-link-bg, var(--erb-color-gray-50));
  color: var(--erb-skip-link-color, var(--erb-color-fg-default));
}
.erb-skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  padding: var(--erb-skip-link-padding, 8px);
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
