.erb-timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.erb-timeline-item {
  display: flex;
  gap: var(--erb-spacing-4);
  position: relative;
}

.erb-timeline-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erb-timeline-dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--erb-color-bg-brand-default);
  border-radius: var(--erb-radius-full);
  margin-top: 0.375rem; /* align with first line of text */
}

.erb-timeline-line {
  flex-grow: 1;
  width: 2px;
  background-color: var(--erb-color-border-default);
  margin-top: var(--erb-spacing-2);
  margin-bottom: var(--erb-spacing-2);
}

.erb-timeline-content {
  padding-bottom: var(--erb-spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--erb-spacing-1);
}

.erb-timeline-item:last-child .erb-timeline-content {
  padding-bottom: 0;
}

.erb-timeline-title {
  font-family: var(--erb-font-sans);
  font-weight: var(--erb-font-weight-semibold);
  font-size: var(--erb-font-size-base);
  color: var(--erb-color-fg-default);
  margin: 0;
}

.erb-timeline-description {
  font-family: var(--erb-font-sans);
  font-size: var(--erb-font-size-sm);
  color: var(--erb-color-fg-muted);
  margin: 0;
}

.erb-timeline-date {
  font-family: var(--erb-font-sans);
  font-size: var(--erb-font-size-xs);
  color: var(--erb-color-fg-subtle);
  margin: 0;
}
