.erb-tooltip {
  background-color: var(--erb-tooltip-bg, var(--erb-color-bg-canvas-inverse));
  color: var(--erb-tooltip-text, var(--erb-color-bg-canvas-inverse));
  border-radius: var(--erb-tooltip-radius, var(--erb-radius-sm));
  box-shadow: var(--erb-tooltip-shadow, var(--erb-shadow-sm));
  padding: var(--erb-spacing-1) var(--erb-spacing-2);
  font-size: var(--erb-font-size-sm);
  z-index: 50;
  pointer-events: none;
}
